/**
    Reset block
 */
html, body, header, footer, hgroup, nav, article, section,
figure, figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

#game {
    position: relative;
    background-color: sandybrown;
    height: 80vh;
    width: 80vh;
    padding: 2vh;
    margin: auto;
}

#inside_game {
    border: 2px solid saddlebrown;
    height: 80vh;
    width: 80vh;
}

.square {
    float: left;
    width: 10vh;
    height: 10vh;
}

.darksquare {
    background-color: saddlebrown;
}

.piece {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    margin: 1vh;
}

.piece:hover {
    cursor: pointer;
}

.wpiece {
    background-color: white;
}

.bpiece {
    background-color: black;
}